<app-my-header name="Лабораторна робота номер 8"></app-my-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <h1> Завдання</h1>
        <div><p> 1.   Розробити компонент який буде вміщувати динамічну реактивну форму відповідно до варіанту.</p>
        <p>2.   Передбачити у формі можливість додавання та видалення певних полів під час виконання.</p>
        <p>3.   Провести валідування ведених у форму значень, як за допомогою списку статичних методів класу Validators.</p>
        <p>4.   Створити сервіси для більш точного валідування ведених даних, кількість сервісів не менше двох.</p>
        <p>5.   Створити модульні тести для перевірки сервісів та функцій для валідування</p>
        </div>

        <p>8.Список дисциплін кафедри: <br>
        • Назва. <br>
        • Кількість кредитів <br>
        • ПІБ викладача. <br>
        • Вчене звання викладача<br>
        • Семестр, в якому читається дисципліна.<br>
        Інформаціє, яка додається динамічно:<br>
        • Список груп у яких викладається дисципліна<br>
        </p>

        <app-lab8-form></app-lab8-form>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
    </ion-card>
</ion-content>
