<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Лабораторні роботи</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"><ion-list>
      <ion-item routerLink = "">Лаб1</ion-item>
      <ion-item routerLink = "lab2">Лаб2</ion-item>
      <ion-item routerLink = "lab3">Лаб3</ion-item>
      <ion-item routerLink = "lab4">Лаб4</ion-item>
      <ion-item routerLink = "lab6">Лаб6</ion-item>
      <ion-item routerLink = "lab7">Лаб7</ion-item>
      <ion-item routerLink = "lab8">Лаб8</ion-item>
    </ion-list></ion-content>
  </ion-menu>

  <ion-router-outlet id = "main-content"></ion-router-outlet>
</ion-app>
